@CHARSET "UTF-8";
/* 
div#main{
	border: 1px solid gray;
	width:1000px;
	margin:0 auto;
	font-size:10pt;
	font-family:"맑은 고딕";
}
div#main_header{
	상단헤더 가장 상위에 배치
	z-index:2;
	border: 1px solid black;
	background-color:pink;
	상단 메뉴바 고정
	position:sticky; top:0;
	height:85px;
	width:1000px;
}

div#main_menu{
	float:left;
	width:17%;
	min-height:400px;
}

div#main_body{
	height:1600px;
	border: 1px solid black;
}
div#main_footer{
	clear:both;
	width:100%;
	background-color: gray;
} 
/* 
/*====메뉴====

div#main_menu ul{
	list-style:none;
}
div#main_menu ul li{
	margin-bottom:5px;
} 







====페이지 기본 스타일====
.page-main-style{
	width:100%;
	margin:0 auto;
}

.result-display{
	width:400px;
	margin:50px auto;
	border:1px solid #000;
	padding:100px 0 100px 0;
	text-align:center;
}
.align-right{
	text-align:right;
}
.align-center{
	text-align:center;
}
목록
form#search_form{
	border:none;
}
ul.search{
	width:300px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}


등록,수정폼
form{
	width:550px;
	margin:0 auto;
	padding:10px 10px 10px 30px;
}
ul{
	list-style:none;
}
label{
	width:120px;
	float:left;
}
.error-color{
		color:red;
}
.detail-img{
	max-width: 500px;
}
메인 디자인
div#wrap{
	overflow:hidden;
}
ul.item{
	margin:6px;
	padding:7px;
	width:200px;
	height:200px;
	float:left;
	border-width:1px;
	border-style:solid;
	border-color:gray;
	border-radius:6px;
	text-align:center;
	overflow:hidden;
}
li.item-img{
	height:170px;
}
img.thumb-image{
	vertical-align:middle;
	margin-right: 5px;
	width:200px;
	height:160px;
}

 */

 
/*테이블*/

table {
	width: 100%;
    border-collapse: collapse;
    line-height: 1.5;

}
table th {
	background-color: lightgray;
    padding: 10px;
    font-weight: bold;
}
table tr {
    height: 70px;
    padding: 10px;
    text-align: center;
    background: #f3f6f7;
}
table td {
    padding: 10px;
}






/*---------------------- boardList start---------------------*/

/* .boardList-table th{
    border-bottom: 1.5px solid #036;
}

.boardList-table td{
    border-bottom: 1px solid #ccc;
}
 */
div#main_body .boardList-table{
   width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}
div#main_body .boardList-table th,div#main_body .boardList-table th td{
   border-bottom: 1px solid #444444;
    padding: 10px;
}
div#main_body .boardList-table tr:nth-child(even) {
  background-color: #ffffff;
}


 

/*---------------------- boardList end---------------------*/

/*---------------------- boardView start---------------------*/

.boardView-table #table-notice{
	overflow-y:scroll;
}

/*---------------------- boardView end---------------------*/

/*---------------------- Q&A start---------------------*/

/* .qna-table th{
    border-bottom: 1.5px solid #036;
}
.qna-table td{
    border-bottom: 1px solid #ccc;
} */
div#main_body .qna-table{
   width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}
div#main_body .qna-table th,div#main_body .qna-table th td{
   border-bottom: 1px solid #444444;
    padding: 10px;
}
div#main_body .qna-table tr:nth-child(even) {
  background-color: #ffffff;
}






/*---------------------- Q&A end---------------------*/

/*---------------------- Q&A detail start ---------------------*/

.qna-detail-mainTable tr{
	height: 20px;
}

#qna-question{
	height: 300px;
	font-size: 14px;
	overflow-y:scroll;
}

.qna-detail-subTable tr{
	height: 10px;
}

/*---------------------- Q&A detail end ---------------------*/

/*---------------------- Q&A write ---------------------*/
#qna-write-question{
   width:100%;
   height: 300px;
   overflow-y:scroll;
}
#q_title{
   width:100%;
} 
.qna-write-mainTable{
	border:1px solid lightgray
}


/*---------------------- Q&A write end---------------------*/

/*---------------------- forestList start ---------------------*/

/* #selectLoc{
	width: 150px;
} */

/*---------------------- forestList end---------------------*/

/*---------------------- forestDetail start ---------------------*/

#map{
	float: left;
}



.forestDetail-table{
	float:right;
	width: 550px;
	margin-right: 10px;
	font-size: 10px;
}

.forestDetail-table tr{
	/* float: right; */
}




/*---------------------- forestList start---------------------*/

#selectLocForm{
	float: right;
}

.selectBox{
	float: right;
}

#forest-list tr{
	height: 50px;
	border-left: none;
}

#forest-list th{
	background: lightgray;
}

/*---------------------- forestDetail start ---------------------*/

#selectMonthDayForm{
	width: 630px;
}

.forestDetail-table{
	width: 100%;
	font-size: 14px;
}

#forestDetail-table-th{
	height: 500px;
	background: #f3f6f7;
}

.forestDetail-table tr th h3{
	text-align: center;
}

.forestDetail-sub .forestDetail-book{
	float: left;
}

#forestDetail-myComments{
	width: 100%;
}

.forestDetail-sub #map{
	float: right;
	margin-right: 30px;
}

.forestDetail-comments-table tr{
	height: 20px;
}

.forestDetail-comments-table th{
	background: #e8eaed;
}

.forestDetail-comments-table td{
	font-size: 14px;
}

/*---------------------- forestList start---------------------*/

#selectLocForm{
	float: right;
}

.selectBox{
	float: right;
}

#forest-list tr{
	height: 50px;
	border-left: none;
}

#forest-list th{
	background: lightgray;
}

/*---------------------- forestView end ---------------------*/

/*---------------------- bookVisitDay start---------------------*/

#insertVisitForm{
	width: 800px;
	height: 100px;
	padding: 20px;
	text-align: center;
}

#insertVisitForm span{
	font-size: 18px;
	font-weight: bold;
	margin: 0 30px;
}

.bookVisitDay-table{
	width: 840px;
	margin: 10px auto 0 auto;
}
.bookVisitDay-table td{
	width:50%;
}

.bookVisitDay-table tr{
	height: 50px;
}

#v_cnt, #date{
	height: 40px;
}

#submit-btn{
	width:60%;
	font-size:16px;
	color:white;
	font-weight:bold;
	height:50px;
	background:#4d540e;
}

/*---------------------- bookVisitDay end ---------------------*/

/*---------------------- myBookList start ---------------------*/

.myBookList-table th{
    border-bottom: 1.5px solid #036;
}

.myBookList-table td{
    border-bottom: 1px solid #ccc;
}


/*---------------------- memberView start---------------------*/

.memberView-title{
	height: 70px;
	font-size: 24px;
	font-weight: bold;
	margin-top: 100px;
	text-align: center;
}

.memberView-table{
	width: 80%;
	margin: 0 auto;
	border: 2px solid gray;
	border-left: none;
	border-right: none;
}

.memberView-table tr{
	height: 50px;
}

.memberView-table th{
	background: #f3f6f7;
}

.memberView-table td{
	background: white;
}

.memberView-btn{
	text-align: center;

}

.memberView-btn input{
	padding: 10 20 10 20;
	color: white;
	font-weight: bold;
	background: #4d540e;
}

#memberView-btn1{
	margin-right: 40px;
}

/*---------------------- memberView end---------------------*/

/*---------------------- myPickList start---------------------*/

#myPickList-title{
	height: 70px;
}

.myPickList-table{
	width: 840px;
	margin: 0 auto;
}

.myPickList-table tr{
	height:50px;
}

#myPick-btn{
	width:100px;
	/* height:30px; */
	margin-left:100px;
	background:#4d540e;
	color:white;
	font-weight:bold;
}


/*---------------------- myPickList end---------------------*/

/*---------------------- myBookList start---------------------*/

#myBookList-title{
	height: 70px;
}

.myBookList-table{
	width: 80%;
	margin: 0 auto;
}

.myBookList-table tr{
	height: 70px;
}

.myBookList-table th{
	background: lightgray;
}

.myBookList-table td{
	text-align: center;
}

#myBook-btn{
	width:100px;
	/* height:30px; */
	background:#4d540e;
	color:white;
	font-weight:bold;
}








